.fullstack {
    margin-left: 200px;
    margin-top: 50px;
    color: rgb(13, 141, 210);
}

.fullstack p {
    margin-top: 40px;
    color: black;
    font-size: 18px;

}

/*  */
.cld h2 {
    text-align: center;
}

/*  */

.react {

    color: orange;
    font-weight: bold;
}

/*  */

.train-procs img {
    width: '200px';
    height: '400px'
}


.roles {
    text-align: center;
}
