/* 

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color:black;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    
}

.logo {
  height: 40px;
  width: 100px;
  margin-left: 20px;
}

.nav-items {
  display: flex;
  gap: 1rem;
  font-size: 21px;
}

.nav-items a {
  color: white;
  text-decoration: none;
}

.right-items a {
  margin-left: 1rem;
  margin-right: 7rem;
  text-decoration: none;
  color: white;
  font-size: 21px;

}

.mobile-icon a{
  color:'black'
}






 */


 /* Navbar.css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.logo {
  height: 40px;
  width: 100px;
  margin-left: 20px;
}

.nav-items {
  display: flex;
  gap: 1rem;
  font-size: 21px;
}

.nav-items a {
  color: white;
  text-decoration: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: black;
  padding: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.right-items a {
  margin-left: 1rem;
  margin-right: 7rem;
  text-decoration: none;
  color: white;
  font-size: 21px;
}

.mobile-icon {
  display: none;
}


@media screen and (max-width: 768px) {
  .nav-items {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
  }

  .nav-items.active {
    display: flex;
  }

  .nav-items a {
    padding: 1rem;
    text-align: center;
  }

  .mobile-icon {
    display: block;
  }
}
