.page-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

}

.home-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;


}